<div class="container">
    <h1>{{prodName}} details </h1>
    <hr>
    <div class="row">
        <div class="col-8">
            <h3>Details</h3>
            <p>Description: {{prodDesc}}</p>  
            <p>Prod.Price: {{prodPrice}}</p> 
            <p>Prod.Stock: {{prodStock}}</p>        
        </div>
        <div class="col-4">
            <h3>Product</h3>
            <img src="{{prodImage}}" alt="product-img">           
        </div>
    </div>
    <hr>
    <a href="/">Go Back</a>
</div>