<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<nav class="navbar bg-light">
  <div class="container-fluid">
    <form class="d-flex" role="search">    
        <select class="form-select category-width" aria-label="Default select example">
            <option selected>Category</option>
            {{#each categories}}
            <option value="{{catName}}">{{catName}}</option>
            {{/each}}
        </select>
        <input class="form-control me-2 search-width" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success">Search</button>    
    </form>
  </div>
</nav>
<div class="row">
    {{#each products}}
    <div class="card col-3" style="width: 18rem;">
        <img src="{{this.prodImage}}" height="250" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.prodName}}</h5>
            <p class="card-text">Price: ${{this.prodPrice}}</p>
           <div class="button1-width">
            <a href="/products/{{this.id}}" class="btn btn-primary">View Details</a>
           
            <form action="/checkout/{{this._id}}"  method="POST">                
                <button type="submit" class="btn btn-dark">Add to cart</button>
            </form>
           </div>              
        </div>
    </div>
    {{/each}}
</div>