<div class="container">
    <h1>{{prodName}} details </h1>
    <hr>
    <div class="row">
        <div class="col-8">
            <h3>Details</h3>
            <p>Description: {{prodDesc}}</p>  
            <p>Prod.Price: {{prodPrice}}</p> 
            <p>Prod.Stock: {{prodStock}}</p>        
        </div>
        <div class="col-4">
            <h3>Product</h3>
            <img src="{{prodImage}}" height="350" width="350" alt="product-img">           
        </div>
    </div>
    <hr>
    <a href="/" class="btn btn-dark"> Go Back: Home</a>
    <a href="/products/edit" class="btn btn-dark">Go Back: Product List</a>    
    
</div>